<ion-view view-title="About">
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap">
        <h2>Simple calculator built with Ionic framework.</h2>
        <p>2017</p>
      </div>
    </div>

  </ion-content>
</ion-view>
